.day-cells {
  position: relative;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.day-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid grey;

  &:last-child {
    border-right: none;
  }

  &__hour-cell {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    height: 60px;
    border-top: 1px solid grey;
    

    &:first-child {
      border-top: none;
    }
  }

  &__reminder-item {
    position: absolute;
    top: 0px;
    font-size: 14px;
    background-color: #a2c9fb;
    border-radius: 4px;
    width: 150px;
    padding: 1px;
    z-index: 1;
    cursor: pointer;
  }
  &__current-time-line {
    position: absolute;
    background-color: red;
    width: 170px;
    height: 5px;
  }
}

.day-columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}

.hours-column {
  display: flex;
  flex-direction: column;
  color: grey;

  &__hour-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 10px;
    width: 81px;
    min-width: 81px;
    height: 60px;
    font-size: 12px;
  }
}
