.day-cells {
  position: relative;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.day-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid grey;

  &:last-child {
    border-right: none;
  }

  &__hour-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    height: 40px;
    border-bottom: 1px solid grey;

    &:last-child {
      border-bottom: none;
    }
  }
}

.day-columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}

.hours-column {
  display: flex;
  flex-direction: column;
  color: grey;

  &__hour-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    width: 81px;
    min-width: 81px;
    height: 40px;
  }
}
