@import "breakpoints.scss";
@import "header.scss";
@import "navigation.scss";
@import "popUp.scss";
@import "dayCells.scss";
@import "loader.scss";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.week-grid {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 10px;
} 