@import "header.scss";
@import "navigation.scss";
@import "popUp.scss";
@import "dayCells.scss";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.week-grid {
    display: flex;
    flex-direction: column;
    height: 700px;
    overflow-y: scroll;
}