.navigation {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  margin-top: 64px;

  &__grid {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    width: 100vw;

  }
  

  &__time-periods {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    // width: 81px;
    // min-width: 81px;
    margin-top: 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 70px;
    }

    &_selected {
      color: #1a73e8;
    }
  }

  &__gmt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 50px;
    width: 81px;
    min-width: 81px;
    margin-top: 20px;
    cursor: pointer;
  }

  &__day-of-week {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  &__date-of-month {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &_selected {
      background-color: #1a73e8;
      color: white;
    }
  }
}
