.pop-up-form {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -200px;
  visibility: hidden;
  z-index: 4;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: -1px 9px 18px -9px rgba(0, 0, 0, 0.68);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: white;

  &__close-btn {
    margin-left: auto;
    margin-top: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.calendar-issues-form {
  display: flex;
  flex-direction: column;

  &__title-input {
    border: none;
    border-bottom: #1a73e8 2px solid;
    width: 80%;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  &__date-block {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    border: none;
  }

  &__date-input, &__start-time-input, &__finish-time-input {
    border: none;
  }

  &__description-input {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
  }

  &__actions {
    display: flex;
  }
  &__delete-btn {
    margin-left: auto;
    margin-right: 15px;
    background-color: #ec4d4d;
    color: white;
    min-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;

    &:disabled {
      background-color: #f5d2d2;
    }
    
  }

  &__submit-btn {
    margin-right: 10px;
    background-color: #1a73e8;
    color: white;
    min-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
  }
}
